body{
    /* background-color: black; */
}
.mainHeader .navbar-brand img {
    width: 100px;
}

.mainHeader .navbar-dark .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
}

.mainHeader .navbar-dark .navbar-nav .active > .nav-link {
    color: orange !important;
    border-bottom: 2px solid orange;
}


.mainHeader .navbar-dark .navbar-nav .nav-link:hover ,
.mainHeader .navbar-dark .navbar-nav .nav-link:focus{
     color: orange;
    border-bottom: 2px solid orange;
}


.mainCsrousel .carousel-item{
    height: 450px;
}


.mainCsrousel .carousel-item  img{
    height: 100%;
    object-fit: cover;

}



.parallax{
    /* background-image: url('../images/m-demo.jpg'); */
     background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)), url('../images/bg01.jpg');
    /* height: 100vh; */
}


.playBtn ,.parallax{
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.playBtn{
    /* height: 100vh; */
     background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7) ), url('https://images.pexels.com/photos/1933239/pexels-photo-1933239.jpeg?cs=srgb&dl=pexels-therato-1933239.jpg&fm=jpg');
}

